<aside>
    <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu" id="nav-accordion">
            <li class="sub-menu">
                <a href="javascript:;" {{#if isOrders}}class="active"{{/if}}>
                    <i class="fa fa-truck"></i>
                    <span>Պատվերներ</span>
                </a>
                <ul class="sub" {{#if isOrders}}style="display: block;"{{/if}}>
                    <li><a href="/admin/orders">Նոր</a></li>
                    <li><a href="/admin/orders/delivered">Առաքված</a></li>
                    <li><a href="/admin/orders/cancelled">Չեղարկված</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" {{#if isProducts}}class="active"{{/if}}>
                    <i class="fa fa-shopping-cart"></i>
                    <span>Ապրանքներ</span>
                </a>
                <ul class="sub" {{#if isProducts}}style="display: block;"{{/if}}>
                    <li><a href="/admin/products/index">Առկա</a></li>
                    <li><a href="/admin/products/index/ended">Վերջացած</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" {{#if isCategories}}class="active"{{/if}}>
                    <i class="fa fa-bars"></i>
                    <span>Բաժիններ</span>
                </a>
                <ul class="sub" {{#if isCategories}}style="display: block;"{{/if}}>
                    <li><a href="/admin/categories/index">Գլխավոր</a></li>
                    <li><a href="/admin/categories/index/sub">Ենթաբաժիններ</a></li>
                    <li><a href="/admin/categories/index/top">Թոփ</a></li>
                </ul>
            </li>

            <li>
                <a href="/admin/about" {{#if isAbout}}class="active"{{/if}}>
                    <i class="fa fa-info"></i>
                    <span>Տեղեկություններ</span>
                </a>
            </li>
        </ul>
    </div>
</aside>