{{> admin.head }}

<body>
<section id="container">
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right"></div>
        </div>
        <a href="/admin" class="logo"><b>Admin<span>Panel</span></b></a>

        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="/admin/login/logout">Logout</a></li>
            </ul>
        </div>
    </header>

    {{> admin.navbar }}

    <section id="main-content" style="min-height: 900px;">
        {{{ body }}}
    </section>

{{> admin.footer }}