{{> head }}
<body>
<div class="container-fluid">
    <header class="row">
        <a href="/">
            <img src="/images/tooth.png" alt="" class="logo">
        </a>
        <h1 class="display-3">DENT</h1>
        <p>Ատամնաբուժական կենտրոն</p>
    </header>
    {{> navbar }}

    {{{body}}}

    {{> footer }}
</div>
</body>
</html>