<div class="w3l_banner_nav_right">
    <div class="privacy about">
        <h3>Մեր մասին</h3>
        <p class="animi">{{about.text}}</p>
        <div class="agile_about_grids">
            <div class="col-md-6 agile_about_grid_right">
                <img src="/images/about/{{about.img}}" alt=" " class="img-responsive"/>
            </div>
            {{#if about.features}}
                <h2 style="margin-top: 23px;">Յուրահատկություններ</h2>
                <div class="col-md-6 agile_about_grid_left" style="margin-top: 23px;">
                    <ol>
                        {{#each about.features as |feature|}}
                            <li>{{feature}}</li>
                        {{/each}}
                    </ol>
                </div>
            {{/if}}
            <div class="clearfix"></div>
        </div>
    </div>
</div>