<div class="w3l_banner_nav_right">
    <div class="privacy about">
        <h3>{{title}}</h3>
        <h2 style="margin-top: 123px; color: #FA1818;"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Ինչպե՞ս պատվիրել</h2>
        <p class="animi">{{about.buying}}</p>
    </div>
    <div class="events">
        <div class="w3agile_event_grids">
            <div class="col-md-6 w3agile_event_grid">
                <h2 style="margin-bottom: 23px; color: #FA1818;"><i class="fa fa-truck" aria-hidden="true"></i>&nbsp;&nbsp;Առաքում</h2>
                <div class="col-md-9 w3agile_event_grid_right">
                    <p>{{about.delivery}}</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 w3agile_event_grid">
                <h2 style="margin-bottom: 23px; color: #FA1818;"><i class="fa fa-dollar" aria-hidden="true"></i>&nbsp;&nbsp;Վճարում</h2>
                <div class="col-md-9 w3agile_event_grid_right">
                    <p>{{about.payment}}</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>