<article>
    <div class="heading-title">

    </div>
    <div class="row employee">
        <div class="col-lg-3 offset-sm-1">
            <img src="/images/employees/{{employee._id}}.jpg" alt="" class="shadow-lg">
            <p class="post">{{employee.position}}</p>
        </div>
        <div class="col-lg-6 offset-sm-1 shadow-lg descr">
            <h1>{{employee.name}}</h1>
            <p>{{employee.biography}}</p>
        </div>
    </div>
</article>