<article class="register">
    <div class="heading-title">
        {{#if error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {{/if}}

        <h2>Ստորև կարող եք հերթագրվել մեր կլինիկայում</h2>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form action="register" method="post" class="register">
                <input type="hidden" class="csrf" name="_csrf" value="{{csrf}}">
                <label>Մուտքագրեք Ձեր տվյալները</label>
                <p><small><b style="color: red;">* </b> Ձեր տվյալները մուտքագրելուց հետո ընտրեք այն բժշկին, որի մոտ ցանկանում եք հերթագրվել, ապա ընտրեք, թե որ ժամին եք ուզւմ հերթագրվել։<br>
                    <<Հաստատել>> կոճակի վրա սեղմելուց հետո Ձեր նշած Էլ․ փոստին կստանաք նամակ, որի մեջ կտեսնեք հաստատման կոդը։</small></p>

                <div class="form-group field-name required has-error">
                    <label class="control-label" for="name">Անուն</label>
                    <input type="text" id="name" class="form-control" name="name" aria-required="true" aria-invalid="true">
                </div>

                <div class="form-group field-surname required has-error">
                    <label class="control-label" for="surname">Ազգանուն</label>
                    <input type="text" id="surname" class="form-control" name="surname" aria-required="true" aria-invalid="true">
                </div>

                <div class="form-group field-age required has-error">
                    <label class="control-label" for="age">Տարիք</label>
                    <input type="number" id="age" class="form-control" name="age" aria-required="true" aria-invalid="true">
                </div>

                <div class="form-group field-tel required has-error">
                    <label class="control-label" for="tel">Հեռ։</label>
                    <input type="text" id="tel" class="form-control" name="tel" aria-required="true" aria-invalid="true">
                </div>

                <div class="form-group field-email required has-error">
                    <label class="control-label" for="email">Էլ․ փոստ</label>
                    <input type="email" id="email" class="form-control" name="email" aria-required="true" aria-invalid="true" placeholder="client@mail.com">
                </div>

                <label>Ընտրեք, թե որ բժշկի մոտ եք ուզում հերթագրվել</label>
                <p>
                    {{#each employees}}
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="employee_id" value="{{_id}}">
                            <img src="/images/employees/{{_id}}.jpg" alt="" class="shadow">
                        </div>
                    {{/each}}
                </p>

                <label>Ընտրեք օր և ժամ</label>
                <div class="row">
                    <div class="col-lg-8 col-md-8 free-days" style="display: none">

                    </div>
                </div>
                <br>
                <p>
                    <button type="submit" class="btn btn-success">Հերթագրվել</button>
                </p>
            </form>
        </div>
    </div>
</article>