<article class="service">
    <div class="heading-title">
        <h1>{{service.title}}</h1>
    </div>
    <div class="row service">
        <div class="col-lg-3 col-md-3 offset-sm-1">
            <img src="/images/services/{{service._id}}.jpg" alt="" class="shadow-lg service-img">
        </div>
        <div class="col-lg-6 offset-sm-1">
            <p>{{service.descr}}
                {{#if service.price.length}}
                    <p class="price text-center" style="width: 300px;">{{service.price}} ։դրամ</p>
                {{/if}}
            </p>
        </div>
    </div>
</article>