@font-face{
	font-family: dejavu-sans;
	src: url(../fonts/DejaVuSans.ttf);
}
@font-face{
	font-family: dejavu-sans-light;
	src: url(../fonts/DejaVuSans-ExtraLight.ttf);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	position: relative;
	font: 16px/1.5 dejavu-sans;
	background: url(../images/background.jpg) no-repeat center/cover fixed;

}
h1{
	color: #005F8DFF;
	line-height: 1.3;
    font-family: dejavu-sans-light;
}
a{
	text-decoration: none;
	transition: all .3s ease-in-out;
}
a:hover{
	text-decoration: none;
}
.container-fluid{
	background: rgba(255, 255, 255, 0.8);
}
a.add{
	padding: 30px 10px;
	border-radius: 50%;
	border: 10px solid #FFFFFFFF;
}
a.add:hover{
	border: 10px solid #0083C1FF;
}
.add img{
	width: 60px;
}
.delete-link{
	padding: 10px 20px;
	border: 5px solid #FFFFFFFF;
	color: #FF0000FF;
	font-size: 20px;
}
.delete-link:hover{
	border: 5px solid #FF0000FF;
	color: #FF0000FF;
}
form.adding{
	padding: 30px;
	margin-top: 50px;
	background: #005F8DFF;
}
form label{
	color: #000;
	font-size: 18px;
}
form .help-block{
	font-size: 14px;
	color: red;
}
form.edit label{
	color: #0083C1FF;
}
form.register{
	padding: 30px;
	background: #FFFFFFFF;
}
div.form-check{
	display: inline-block;
}
div.form-check img{
	margin-right: 10px;
	margin-left: 15px;
	width: 100px;
}
[type=radio]{
	width: 25px;
	height: 25px;
	cursor: pointer;
	margin-top: 37px;
}
td{
	border-right: 5px solid #FFFFFFFF;
}

/*Header*/
header{
	width: 100%;
}
header .logo{
	width: 80px;
	margin-left: 50px;
	margin-top: 15px;
}
header h1{
	margin-left: 50px;
	margin-top: 30px;
}
header p{
	margin-top: 76px;
	color: #0083C1FF;
	font-size: 20px;
}
aside{
	margin-top: 20px;
	width: 100%;
}
aside .navbar{
	background: #005F8DFF;
}
aside a{
	margin-left: 20px;
}

/*Article*/
article{
	position: relative;
	padding-bottom: 50px;
}
article .heading-title{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}
article .heading-title h1{
	color: #404040FF;
	font-size: 60px;
	font-weight: bold;
}
article.services,
article.employees{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -35px;
	margin-bottom: 15px;
}
article.services .heading-title h1{
	padding-top: 50px;
}
article .services-img{
	width: 170px;
	height: 170px;
	border-radius: 50%;
	border: 10px solid #FFFFFFFF;
	margin-top: 50px;
	margin-bottom: 20px;
	transition: all .3s ease-in-out;
}
article .services-img:hover{
	border: 10px solid #0083C1FF;
}
article .services p{
	color: #0083C1FF;
	font-size: 20px;
	font-weight: bold;
}
article .services a.services-button{
	margin: 30px auto;
}
article .service img{
	width: 300px;
}
article .service p.price{
	margin-top: 50px;
	padding: 10px;
	background: #0083C1FF;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFFFF;
	border-radius: 10px;
}
article .employees{
	margin-bottom: 20px;
}
article .employees img{
	width: 170px;
	height: 170px;
	margin-right: 10px;
	margin-bottom: 20px;
	transition: all .3s ease-in-out;	
}
article .employees img:hover{
	opacity: 0.8;
}
article .employees .info{
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
	margin-left: 10px; 
}
article .employees .info h3{
	display: inline-block;
	font-weight: bold;
}
article .employees .info span{
	margin-left: 40px;
	font-size: 14px;
	color: #0083C1FF;
	opacity: 0.8;
}
article .employee img{
	width: 280px;
}
article .employee .post{
	margin-top: 20px;
	color: #0083C1FF;
	font-size: 18px;
}
article .employee .descr{
	padding: 20px;
	background: rgba(255, 255, 255, 0.5);
}
article .about{
	padding: 20px;
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
}
article .map{
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
	margin-right: 10px;
}

iframe{
	width: 100%;
	height: 500px;
}	
article .address{
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
	margin-left: 10px;
}
article .address span{
	font-size: 20px;
	color: #0083C1FF;
}
/*Footer*/
footer{
	background: #005F8DFF;
	color: white;
	width: 100%;
	padding: 20px;
}
footer .copyright{
	font-size: 20px;
	text-align: center;
	color: #FFFFFFFF;
}

/*Breakpoints*/
@media(max-width: 320px){
	header .logo{
		width: 40px;
		margin-left: 15px;
	}
	header h1.display-3{
		font-size: 40px;
		margin-top: -65px;
		margin-left: 65px;
	}
	header p{
		font-size: 14px;
		margin-left: 15px;
		margin-top: 10px;
	}
	footer{
		padding: 10px;
	}
	footer .copyright{
		font-size: 14px;
	}
	article .heading-title h1{
		font-size: 25px;
	}
	article .services p{
		font-size: 15px;
	}
	article .service img{
		width: 200px;
	}
	article .employee img{
		width: 200px;
	}
	article .map{
		margin-left: 10px;
	}
	article .address{
		margin-top: 20px;
		margin-right: 10px; 
		width: 300px;
	}

}
@media (min-width: 321px) and (max-width: 400px){
	header .logo{
		width: 40px;
		margin-left: 15px;
	}
	header h1.display-3{
		font-size: 40px;
		margin-top: -65px;
		margin-left: 80px;
	}
	header p{
		font-size: 14px;
		margin-left: 15px;
		margin-top: 10px;
	}
	footer{
		padding: 10px;
	}
	footer .copyright{
		font-size: 14px;
	}
	article .heading-title h1{
		font-size: 28px;
	}
	article .services p{
		font-size: 18px;
	}
	article .service img{
		width: 225px;
	}
	article .employee img{
		width: 225px;
	}
	article .map{
		margin-left: 10px;
	}
	article .address{
		margin-top: 20px;
		margin-right: 10px; 
	}

}
@media (min-width: 401px) and (max-width: 576px) {
	header .logo{
		width: 60px;
		margin-left: 20px;
		margin-top: 20px;
	}
	header h1.display-3{
		font-size: 50px;
		margin-left: 110px;
		margin-top: -95px;
	}
	header p{
		margin-left: 20px;
		margin-top: 20px;
	}
	footer{
		padding: 15px;
	}
	footer .copyright{
		font-size: 16px;
	}
	article .heading-title h1{
		font-size: 35px;
	}
	article .services p{
		font-size: 20px;
	}
	article .service img{
		width: 250px;
	}
	article .employee img{
		width: 250px;
	}
	article .map{
		margin-left: 10px;
	}
	article .address{
		margin-top: 20px;
		margin-right: 10px; 
	}
}

@media (min-width: 577px) and (max-width: 614px) {
 	header .logo{
		width: 60px;
		margin-left: 20px;
	}
	header h1.display-3{
		font-size: 50px;
		margin-left: 100px;
		margin-top: -71px;
	}
	header p{
		margin-top: 20px;
		margin-left: 20px;
	}
	footer{
		padding: 15px;
	}
	footer .copyright{
		font-size: 18px;
	}
	article .heading-title h1{
		font-size: 45px;
	}
	article .service img{
		width: 275px;
	}
	article .employee img{
		width: 275px;
	}
	article .map{
		margin-left: 10px;
	}
	article .address{
		margin-top: 20px;
		margin-right: 10px; 
	}
}

@media (min-width: 615px) and (max-width: 768px){
 	header .logo{
		width: 60px;
		margin-left: 20px;
	}
	header h1.display-3{
		font-size: 50px;
		margin-left: 20px;
	}
	header p{
		margin-top: 20px;
		margin-left: 20px;
	}
	footer{
		padding: 20px;
	}
	footer .copyright{
		font-size: 18px;
	}
	article .heading-title h1{
		font-size: 45px;
	}
	article .service img{
		width: 275px;
	}
	article .employee img{
		width: 275px;
	}
	article .map{
		margin-left: 10px;
	}
	article .address{
		margin-top: 20px;
		margin-right: 10px; 
	}
}

@media (min-width: 769px) and (max-width: 961px) {
  	header .logo{
		width: 70px;
		margin-left: 20px;
	}
	header h1.display-3{
		font-size: 59px;
		margin-left: 20px;
	}
	header p{
		margin-top: 35px;
		margin-left: 20px;
	}
	article .heading-title h1{
		font-size: 50px;
	}

	article .map{
		margin-left: 10px;
	}
	article .address{
		margin-top: 20px;
		margin-right: 10px; 
	}
}

@media (min-width: 962px) and (max-width: 991px){
  	header .logo{
		width: 70px;
		margin-left: 20px;
	}
	header h1.display-3{
		font-size: 59px;
		margin-left: 20px;
	}
	header p{
		margin-top: 63px;
	}
	article .heading-title h1{
		font-size: 50px;
	}

	article .map{
		margin-left: 10px;
	}
	article .address{
		margin-top: 20px;
		margin-right: 10px; 
	}
}

@media (min-width: 992px) and (max-width: 1042px) {
  	header .logo{
		width: 70px;
		margin-left: 20px;
	}
	header h1.display-3{
		font-size: 63px;
		margin-top: 27px;
		margin-left: 20px;
	}
	header p{
		margin-top: 64px;
	}
	article{
		min-height: 0;
	}
}

@media (min-width: 1043px) and (max-width: 1119px){
  	header .logo{
		margin-left: 20px;
	}
	header h1.display-3{
		font-size: 67px;
		margin-top: 32px;
		margin-left: 20px;
	}
	header p{
		margin-top: 73px;
	}
}

@media (min-width: 1020px) and (max-width: 1136px){
	header .logo{
		margin-left: 30px;
	}
}

@media (min-width: 1280px){
	article {
		min-height: 700px;
	}
	article .services-img{
		width: 200px;
		height: 200px;
	}
	article .service img{
		width: 400px;
	}
	article .employees img{
		width: 220px;
		height: 220px;
	}
	article .employee img{
		width: 400px;
	}
}
@media (min-width: 1921px) {
	.container-fluid{
		max-width: 1920px
	}
	article {
		min-height: 1000px;
	}
	body{
		background: #FFFFFFFF;
	}
}